<h1>Mitarbeiter Skills</h1>
<form class="form-inline">
    <div class="form-group">
        <label for="team">Team:</label>
        <select id="team" ng-model="teamSelected" ng-options="team.name for team in teams"
                ng-change="teamChanged()"/>
    </div>
    <div class="form-group">
        <label for="mitarbeiter">Mitarbeiter:</label>
        <select id="mitarbeiter" ng-model="mitarbeiterSelected"
                ng-options="(mitarbeiter.name + ' ' + mitarbeiter.vorname) for mitarbeiter in mitarbeiters"
                ng-change="mitarbeiterChanged()"/>
    </div>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">#</a></th>
        <th><a href="" ng-click="predicate = 'skill'; reverse=!reverse">Skill</a></th>
        <th><a href="" ng-click="predicate = 'expertise'; reverse=!reverse">Expertise</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="skill in skills | orderBy:predicate:reverse">
        <td>{{skill.id}}</td>
        <td>{{skill.skill}}</td>
        <td>{{skill.expertise}}</td>
    </tr>
    </tbody>
</table>


