<h1>Skills verwalten</h1>
<form class="form-inline">
    <div class="form-group">
        <label for="team">Team</label>
        <select id="team" class="form-control" ng-model="teamSelected" autofocus
                ng-options="team.name for team in teams"
                ng-change="teamChanged()"/>
    </div>
    <div class="form-group">
        <label for="person">Mitarbeiter</label>
        <select id="person" class="form-control" ng-model="personSelected"
                ng-options="(person.name + ' ' + person.vorname) for person in persons"
                ng-change="updateSkills()"/>
    </div>
    <div class="form-group">
        <label for="category">Kategorie</label>
        <select id="category" class="form-control" ng-model="categorySelected"
                ng-options="category.id as category.name for category in categories"
                ng-change="updateSkills()">
            <option value="">-- Kategorie auswählen --</option>
        </select>
    </div>
</form>
<br/>
<div class="gridStyle" ng-grid="gridOptions"></div>