<h1>Skills verwalten</h1>
<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <label for="team">Team</label>
            <select id="team" class="form-control" ng-model="teamSelected" autofocus
                    ng-options="team.name for team in teams"
                    ng-change="teamChanged()"/>
        </div>
        <div class="form-group">
            <label for="person">Mitarbeiter</label>
            <select id="person" class="form-control" ng-model="personSelected"
                    ng-options="(person.surname + ' ' + person.name) for person in persons"
                    ng-change="updateSkills()"/>
        </div>
        <div class="form-group pull-right">
            <label for="category">Filtern</label>
            <select id="category" class="form-control" ng-model="categorySelected"
                    ng-options="category.id as category.name for category in categories"
                    ng-change="updateSkills()">
                <option value="">- Kategorie -</option>
            </select>
            <label for="freetext">oder</label>
            <input id="freetext" type="text" ng-model="filterOptions.filterText"/>
        </div>
    </form>
</div>
<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div ng-controller="SkillsGridController" class="gridStyle" ng-grid="gridOptions"></div>
</div>